# Environments
.env
venv/
.venv/

# Databases
*.db
*.sqlite
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Cloudflare tunnel
.cloudflared/

# DuckDNS script folder
duckdns/

# IDE / Editor specific
.idea/
.vscode/
local_testing/
